body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer {
  width: 100vw;
  position: relative;
  right: 100px;
}
  .custom-footer {
    background: var(--sl-color-bg-nav) !important;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    border-top: #DF0209 2px solid;
    margin-top: auto;
    position: relative;
    top: 150px;
    left: 0;
    bottom: 0;
  }

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
