<footer class="custom-footer">
  <div class="footer-content">
    <img src="src/assets/logoSmartFooter.png" alt="Logo de la empresa">
    <p class="footer-text">Todos los derechos reservados. &copy; SMART TMT 2025</p>
  </div>
</footer>